.sidebar{
width:250px;
height:100vh;
background:linear-gradient(180deg,#1f9d74,#2f80ed);
color:white;
padding:25px;
display:flex;
flex-direction:column;
}

.logo-area{
text-align:center;
margin-bottom:35px;
}

.logo{
width:70px;
margin-bottom:10px;
}

.menu{
display:flex;
flex-direction:column;
gap:10px;
flex:1;
}

.menu-item{
padding:12px;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

.menu-item:hover{
background:rgba(255,255,255,0.25);
transform:translateX(6px);
}

.menu-item.active{
background:white;
color:#2f80ed;
font-weight:bold;
}

.logout{
margin-top:auto;
background:#e74c3c;
text-align:center;
}

.logout:hover{
background:#c0392b;
}